<a href="https://colab.research.google.com/github/SamridhiParihar/Machine-Learning-Projects/blob/main/DataScienceChallenge.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#DATA SCIENCE CHALLENGE PROJECT COURSERA

In [ ]:
import pandas as pd
data_descriptions = pd.read_csv('data_descriptions.csv')
pd.set_option('display.max_colwidth', None)
data_descriptions

,Column_name,Column_type,Data_type,Description
0,AccountAge,Feature,integer,The age of the user's account in months.
1,MonthlyCharges,Feature,float,The amount charged to the user on a monthly basis.
2,TotalCharges,Feature,float,The total charges incurred by the user over the account's lifetime.
3,SubscriptionType,Feature,object,"The type of subscription chosen by the user (Basic, Standard, or Premium)."
4,PaymentMethod,Feature,string,The method of payment used by the user.
5,PaperlessBilling,Feature,string,Indicates whether the user has opted for paperless billing (Yes or No).
6,ContentType,Feature,string,"The type of content preferred by the user (Movies, TV Shows, or Both)."
7,MultiDeviceAccess,Feature,string,Indicates whether the user has access to the service on multiple devices (Yes or No).
8,DeviceRegistered,Feature,string,"The type of device registered by the user (TV, Mobile, Tablet, or Computer)."
9,ViewingHoursPerWeek,Feature,float,The number of hours the user spends watching content per week.
10,AverageViewingDuration,Feature,float,The average duration of each viewing session in minutes.
11,ContentDownloadsPerMonth,Feature,integer,The number of content downloads by the user per month.
12,GenrePreference,Feature,string,The preferred genre of content chosen by the user.
13,UserRating,Feature,float,The user's rating for the service on a scale of 1 to 5.
14,SupportTicketsPerMonth,Feature,integer,The number of support tickets raised by the user per month.
15,Gender,Feature,string,The gender of the user (Male or Female).
16,WatchlistSize,Feature,float,The number of items in the user's watchlist.
17,ParentalControl,Feature,string,Indicates whether parental control is enabled for the user (Yes or No).
18,SubtitlesEnabled,Feature,string,Indicates whether subtitles are enabled for the user (Yes or No).
19,CustomerID,Identifier,string,A unique identifier for each customer.
20,Churn,Target,integer,"The target variable indicating whether a user has churned or not (1 for churned, 0 for not churned)."

In [ ]:
columns_to_encode=['SubscriptionType','PaymentMethod','PaperlessBilling','ContentType','MultiDeviceAccess','DeviceRegistered','GenrePreference','Gender','ParentalControl','SubtitlesEnabled']

##importing modules required

In [ ]:
import numpy as np
import pandas as pd

# Machine Learning / Classification packages
from sklearn.metrics import roc_auc_score
from sklearn.model_selection import train_test_split
from sklearn.dummy import DummyClassifier

import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense


# Visualization Packages
from matplotlib import pyplot as plt
import seaborn as sns
%matplotlib inline

In [ ]:
train_df = pd.read_csv("train.csv")
print('train_df Shape:', train_df.shape)
train_df.head()

train_df Shape: (123841, 21)

,AccountAge,MonthlyCharges,TotalCharges,SubscriptionType,PaymentMethod,PaperlessBilling,ContentType,MultiDeviceAccess,DeviceRegistered,ViewingHoursPerWeek,...,ContentDownloadsPerMonth,GenrePreference,UserRating,SupportTicketsPerMonth,Gender,WatchlistSize,ParentalControl,SubtitlesEnabled,CustomerID,Churn
0,20,11.055215,221.104302,Premium,Mailed check,No,Both,No,Mobile,36.758104,...,10.0,Sci-Fi,2.176498,4.0,Male,3.0,No,No,CB6SXPNVZA,0.0
1,57,5.175208,294.986882,Basic,Credit card,Yes,Movies,No,Tablet,32.450568,...,18.0,Action,3.478632,8.0,Male,23.0,No,Yes,S7R2G87O09,0.0
2,73,12.106657,883.785952,Basic,Mailed check,Yes,Movies,No,Computer,7.395160,...,23.0,Fantasy,4.238824,6.0,Male,1.0,Yes,Yes,EASDC20BDT,0.0
3,32,7.263743,232.439774,Basic,Electronic check,No,TV Shows,No,Tablet,27.960389,...,30.0,Drama,4.276013,2.0,Male,24.0,Yes,Yes,NPF69NT69N,0.0
4,57,16.953078,966.325422,Premium,Electronic check,Yes,TV Shows,No,TV,20.083397,...,20.0,Comedy,3.616170,4.0,Female,0.0,No,No,4LGYPK7VOL,0.0

In [ ]:
print(train_df.shape)

(123841, 21)

In [ ]:
train_df.tail()

,AccountAge,MonthlyCharges,TotalCharges,SubscriptionType,PaymentMethod,PaperlessBilling,ContentType,MultiDeviceAccess,DeviceRegistered,ViewingHoursPerWeek,...,ContentDownloadsPerMonth,GenrePreference,UserRating,SupportTicketsPerMonth,Gender,WatchlistSize,ParentalControl,SubtitlesEnabled,CustomerID,Churn
123836,113,17.185820,1941.997639,Premium,Credit card,Yes,TV Shows,Yes,TV,22.788918,...,28.0,Action,4.717925,3.0,Male,6.0,Yes,Yes,9J0S0TCZSE,0.0
123837,57,10.192039,580.946205,Basic,Mailed check,No,Both,No,TV,14.382581,...,45.0,Drama,1.291551,7.0,Female,18.0,Yes,No,TWQXTMU2MI,0.0
123838,109,19.574475,2133.617766,Basic,Bank transfer,Yes,Movies,Yes,Computer,29.140817,...,10.0,Sci-Fi,4.513561,9.0,Male,19.0,Yes,Yes,HNG9VS8ED7,1.0
123839,98,10.780798,1056.518243,Premium,Credit card,No,TV Shows,Yes,Computer,2.470658,...,41.0,Action,3.869388,7.0,Female,7.0,Yes,Yes,D5TIVJV9AT,0.0
123840,29,13.384635,388.154412,Basic,Electronic check,No,Movies,Yes,TV,10.788741,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
test_df = pd.read_csv("test.csv")
print('test_df Shape:', test_df.shape)
test_df.head()

test_df Shape: (104480, 20)

,AccountAge,MonthlyCharges,TotalCharges,SubscriptionType,PaymentMethod,PaperlessBilling,ContentType,MultiDeviceAccess,DeviceRegistered,ViewingHoursPerWeek,AverageViewingDuration,ContentDownloadsPerMonth,GenrePreference,UserRating,SupportTicketsPerMonth,Gender,WatchlistSize,ParentalControl,SubtitlesEnabled,CustomerID
0,38,17.869374,679.036195,Premium,Mailed check,No,TV Shows,No,TV,29.126308,122.274031,42,Comedy,3.522724,2,Male,23,No,No,O1W6BHP6RM
1,77,9.912854,763.289768,Basic,Electronic check,Yes,TV Shows,No,TV,36.873729,57.093319,43,Action,2.021545,2,Female,22,Yes,No,LFR4X92X8H
2,5,15.019011,75.095057,Standard,Bank transfer,No,TV Shows,Yes,Computer,7.601729,140.414001,14,Sci-Fi,4.806126,2,Female,22,No,Yes,QM5GBIYODA
3,88,15.357406,1351.451692,Standard,Electronic check,No,Both,Yes,Tablet,35.586430,177.002419,14,Comedy,4.943900,0,Female,23,Yes,Yes,D9RXTK2K9F
4,91,12.406033,1128.949004,Standard,Credit card,Yes,TV Shows,Yes,Tablet,23.503651,70.308376,6,Drama,2.846880,6,Female,0,No,No,ENTCCHR1LR

#label_encoding

In [ ]:
from sklearn.preprocessing import LabelEncoder
#load the label encoder function
label_encoder=LabelEncoder() # store this function into variable as label_encoder

In [ ]:
train_df['SubscriptionType'].value_counts()

2    41780
0    41252
1    40809
Name: SubscriptionType, dtype: int64

In [ ]:
labels=label_encoder.fit_transform(train_df.SubscriptionType)

In [ ]:
train_df['SubscriptionType']=labels

In [ ]:




train_df['SubscriptionType'].value_counts()

2    41780
0    41252
1    40809
Name: SubscriptionType, dtype: int64

therefore for:
standarad:2
basic:0
premium: 1

In [ ]:
columns_to_encode=['SubscriptionType','PaymentMethod','PaperlessBilling','ContentType','MultiDeviceAccess','DeviceRegistered','GenrePreference','Gender','ParentalControl','SubtitlesEnabled']

In [ ]:
#label encoding to all the columns
from sklearn.compose import ColumnTransformer
ct = ColumnTransformer(
    transformers=[
        ('label_encoder',label_encoder, columns_to_encode)
    ],
    remainder='passthrough'  # Leave the remaining columns unchanged
)

In [ ]:
# Extract the specified columns from the dataframe
columns_data = train_df[columns_to_encode]
# Apply label encoding to the specified columns
encoded_data = columns_data.apply(lambda x:label_encoder.fit_transform(x))
# Concatenate the encoded columns with the remaining columns
encoded_df = pd.concat([encoded_data, train_df.drop(columns_to_encode, axis=1)], axis=1)

In [ ]:
columns_data = test_df[columns_to_encode]
encoded_data_test= columns_data.apply(lambda x:label_encoder.fit_transform(x))
encoded_df_test = pd.concat([encoded_data_test, test_df.drop(columns_to_encode, axis=1)], axis=1)

In [ ]:
test_df=encoded_df_test
test_df.head()

,SubscriptionType,PaymentMethod,PaperlessBilling,ContentType,MultiDeviceAccess,DeviceRegistered,GenrePreference,Gender,ParentalControl,SubtitlesEnabled,AccountAge,MonthlyCharges,TotalCharges,ViewingHoursPerWeek,AverageViewingDuration,ContentDownloadsPerMonth,UserRating,SupportTicketsPerMonth,WatchlistSize,CustomerID
0,1,3,0,2,0,2,1,1,0,0,38,17.869374,679.036195,29.126308,122.274031,42,3.522724,2,23,O1W6BHP6RM
1,0,2,1,2,0,2,0,0,1,0,77,9.912854,763.289768,36.873729,57.093319,43,2.021545,2,22,LFR4X92X8H
2,2,0,0,2,1,0,4,0,0,1,5,15.019011,75.095057,7.601729,140.414001,14,4.806126,2,22,QM5GBIYODA
3,2,2,0,0,1,3,1,0,1,1,88,15.357406,1351.451692,35.586430,177.002419,14,4.943900,0,23,D9RXTK2K9F
4,2,1,1,2,1,3,2,0,0,0,91,12.406033,1128.949004,23.503651,70.308376,6,2.846880,6,0,ENTCCHR1LR

In [ ]:
encoded_df.head()

,SubscriptionType,PaymentMethod,PaperlessBilling,ContentType,MultiDeviceAccess,DeviceRegistered,GenrePreference,Gender,ParentalControl,SubtitlesEnabled,...,MonthlyCharges,TotalCharges,ViewingHoursPerWeek,AverageViewingDuration,ContentDownloadsPerMonth,UserRating,SupportTicketsPerMonth,WatchlistSize,CustomerID,Churn
0,1,3,0,0,0,1,4,1,0,0,...,11.055215,221.104302,36.758104,63.531377,10.0,2.176498,4.0,3.0,CB6SXPNVZA,0.0
1,0,1,1,1,0,3,0,1,0,1,...,5.175208,294.986882,32.450568,25.725595,18.0,3.478632,8.0,23.0,S7R2G87O09,0.0
2,0,3,1,1,0,0,3,1,1,1,...,12.106657,883.785952,7.395160,57.364061,23.0,4.238824,6.0,1.0,EASDC20BDT,0.0
3,0,2,0,2,0,3,2,1,1,1,...,7.263743,232.439774,27.960389,131.537507,30.0,4.276013,2.0,24.0,NPF69NT69N,0.0
4,1,2,1,2,0,2,1,0,0,0,...,16.953078,966.325422,20.083397,45.356653,20.0,3.616170,4.0,0.0,4LGYPK7VOL,0.0

In [ ]:
train_df=encoded_df
train_df.head()

,SubscriptionType,PaymentMethod,PaperlessBilling,ContentType,MultiDeviceAccess,DeviceRegistered,GenrePreference,Gender,ParentalControl,SubtitlesEnabled,...,MonthlyCharges,TotalCharges,ViewingHoursPerWeek,AverageViewingDuration,ContentDownloadsPerMonth,UserRating,SupportTicketsPerMonth,WatchlistSize,CustomerID,Churn
0,1,3,0,0,0,1,4,1,0,0,...,11.055215,221.104302,36.758104,63.531377,10.0,2.176498,4.0,3.0,CB6SXPNVZA,0.0
1,0,1,1,1,0,3,0,1,0,1,...,5.175208,294.986882,32.450568,25.725595,18.0,3.478632,8.0,23.0,S7R2G87O09,0.0
2,0,3,1,1,0,0,3,1,1,1,...,12.106657,883.785952,7.395160,57.364061,23.0,4.238824,6.0,1.0,EASDC20BDT,0.0
3,0,2,0,2,0,3,2,1,1,1,...,7.263743,232.439774,27.960389,131.537507,30.0,4.276013,2.0,24.0,NPF69NT69N,0.0
4,1,2,1,2,0,2,1,0,0,0,...,16.953078,966.325422,20.083397,45.356653,20.0,3.616170,4.0,0.0,4LGYPK7VOL,0.0

##handling missing vlaues ##

In [ ]:
train_df.isnull().sum()

SubscriptionType            0
PaymentMethod               0
PaperlessBilling            0
ContentType                 0
MultiDeviceAccess           0
DeviceRegistered            0
GenrePreference             0
Gender                      0
ParentalControl             0
SubtitlesEnabled            0
AccountAge                  0
MonthlyCharges              0
TotalCharges                0
ViewingHoursPerWeek         0
AverageViewingDuration      0
ContentDownloadsPerMonth    1
UserRating                  1
SupportTicketsPerMonth      1
WatchlistSize               1
CustomerID                  1
Churn                       1
dtype: int64

In [ ]:
train_df=train_df.fillna(train_df.median())

<ipython-input-133-8fbbb42efcbb>:1: FutureWarning: The default value of numeric_only in DataFrame.median is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  train_df=train_df.fillna(train_df.median())

In [ ]:
train_df.isnull().sum()

SubscriptionType            0
PaymentMethod               0
PaperlessBilling            0
ContentType                 0
MultiDeviceAccess           0
DeviceRegistered            0
GenrePreference             0
Gender                      0
ParentalControl             0
SubtitlesEnabled            0
AccountAge                  0
MonthlyCharges              0
TotalCharges                0
ViewingHoursPerWeek         0
AverageViewingDuration      0
ContentDownloadsPerMonth    0
UserRating                  0
SupportTicketsPerMonth      0
WatchlistSize               0
CustomerID                  1
Churn                       0
dtype: int64

#now creating a model

In [ ]:
train_df_s=train_df.drop('CustomerID', axis=1)
test_df_s=test_df.drop('CustomerID', axis=1)

In [ ]:
#x_train=train_df_s.drop('Churn',axis=1)
#y_train=train_df_s['Churn']
# seperating the datas and labels
X=train_df_s.drop(columns = 'Churn', axis=1)
Y=train_df_s['Churn']

#standaridizing the data

In [ ]:
from sklearn.preprocessing import StandardScaler

# Create an instance of StandardScaler
scaler = StandardScaler()

# Assuming you have a numpy array 'x' that you want to scale
X_scaled = scaler.fit_transform(X)

In [ ]:
from sklearn.model_selection import train_test_split

# Split the data into training and testing sets
x_train, x_test, y_train, y_test = train_test_split(X_scaled, Y, test_size=0.2, random_state=42)

In [ ]:
model= Sequential([
    Dense(20,activation='relu',name='l1',kernel_regularizer=tf.keras.regularizers.l2(0.1)
),
        Dense(15,activation='relu',name='l2',kernel_regularizer=tf.keras.regularizers.l2(0.1)
),
        Dense(1,activation='sigmoid',name='l3')
])

In [ ]:
model.compile(optimizer='adam',
              loss='binary_crossentropy',
              metrics=['accuracy'])

In [ ]:
model.fit(x_train, y_train, epochs=10, batch_size=32)

Epoch 1/10
3096/3096 [==============================] - 7s 2ms/step - loss: 0.6235 - accuracy: 0.8166
Epoch 2/10
3096/3096 [==============================] - 6s 2ms/step - loss: 0.4619 - accuracy: 0.8192
Epoch 3/10
3096/3096 [==============================] - 6s 2ms/step - loss: 0.4500 - accuracy: 0.8192
Epoch 4/10
3096/3096 [==============================] - 6s 2ms/step - loss: 0.4432 - accuracy: 0.8198
Epoch 5/10
3096/3096 [==============================] - 6s 2ms/step - loss: 0.4396 - accuracy: 0.8219
Epoch 6/10
3096/3096 [==============================] - 6s 2ms/step - loss: 0.4369 - accuracy: 0.8225
Epoch 7/10
3096/3096 [==============================] - 6s 2ms/step - loss: 0.4351 - accuracy: 0.8230
Epoch 8/10
3096/3096 [==============================] - 6s 2ms/step - loss: 0.4335 - accuracy: 0.8226
Epoch 9/10
3096/3096 [==============================] - 6s 2ms/step - loss: 0.4322 - accuracy: 0.8227
Epoch 10/10
3096/3096 [==============================] - 6s 2ms/step - loss: 0.4317 - accuracy: 0.8234

In [ ]:
# Evaluate the model on the test dataset
loss, accuracy = model.evaluate(x_test, y_test)

# Print the evaluation results
print(f"Loss: {loss:.4f}")
print(f"Accuracy: {accuracy:.4f}")

775/775 [==============================] - 1s 1ms/step - loss: 0.4356 - accuracy: 0.8201
Loss: 0.4356
Accuracy: 0.8201

In [ ]:


train_df = pd.read_csv("train.csv")
test_df = pd.read_csv("test.csv")
from sklearn.preprocessing import LabelEncoder
label_encoder=LabelEncoder()
labels=label_encoder.fit_transform(train_df.SubscriptionType)
columns_to_encode=['SubscriptionType','PaymentMethod','PaperlessBilling','ContentType','MultiDeviceAccess','DeviceRegistered','GenrePreference','Gender','ParentalControl','SubtitlesEnabled']


from sklearn.compose import ColumnTransformer
ct = ColumnTransformer(
    transformers=[
        ('label_encoder',label_encoder, columns_to_encode)
    ],
    remainder='passthrough'
)


columns_data = train_df[columns_to_encode]
encoded_data = columns_data.apply(lambda x:label_encoder.fit_transform(x))
encoded_df = pd.concat([encoded_data, train_df.drop(columns_to_encode, axis=1)], axis=1)

columns_data = test_df[columns_to_encode]
encoded_data_test= columns_data.apply(lambda x:label_encoder.fit_transform(x))
encoded_df_test = pd.concat([encoded_data_test, test_df.drop(columns_to_encode, axis=1)], axis=1)

test_df=encoded_df_test
train_df=encoded_df

train_df=train_df.fillna(train_df.median())

train_df_s=train_df.drop('CustomerID', axis=1)
test_df_s=test_df.drop('CustomerID', axis=1)
X=train_df_s.drop(columns = 'Churn', axis=1)
Y=train_df_s['Churn']

from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)

from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(X_scaled, Y, test_size=0.2, random_state=42)

model= Sequential([
    Dense(20,activation='relu',name='l1',kernel_regularizer=tf.keras.regularizers.l2(0.1)
),
        Dense(15,activation='relu',name='l2',kernel_regularizer=tf.keras.regularizers.l2(0.1)
),
        Dense(1,activation='sigmoid',name='l3')
])

model.compile(optimizer='adam',
              loss='binary_crossentropy',
              metrics=['accuracy'])
model.fit(x_train, y_train, epochs=10, batch_size=32)